<form action="/login" method="post">
  <input type="hidden" name="{{ login.csrf.parameterName }}" value="{{ login.csrf.token }}">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-content">
      <input slick-autofocus type="text" placeholder="Your name" name="username" ng-model="login.name">
    </div>
    <div class="card-content">
      <input placeholder="Your password" name="password" type="password" ng-model="login.password">
    </div>
    <div class="card-content">
      <input type="text" placeholder="Slick Server" ng-model="login.server">
    </div>
    <div class="card-content" ng-if="login.error">{{ login.error }}</div>
    <div class="card-actions">
      <button ng-disabled="!login.name || !login.password || !login.server">Login</button>
    </div>
  </div>
</form>
