<div class="full-screen full-screen-vertical">
  <div class="tall">
    <ui-view class="full-screen full-screen-vertical" style="flex: 1 0 0px;" name="top-left"></ui-view>
    <ui-view class="active-area full-screen full-screen-vertical" style="justify-content: stretch; flex: 2 0 0px;" name="top-right"></ui-view>
  </div>
  <div class="pure-g">
    <ui-view class="pure-u-1-3 full-screen" name="bottom-left"></ui-view>
    <ui-view class="pure-u-2-3 active-area" name="bottom-right"></ui-view>
  </div>
</div>